h5py==3.1.0
imageio==2.9.0
ipython==7.16.1
jsonschema==4.0.0
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-core==4.6.3
keras==2.6.0
Keras-Preprocessing==1.1.2
matplotlib==3.3.1
mtcnn==0.1.1
numpy==1.19.5
opencv-python==4.5.4.60
pandas==1.1.5
Pillow==7.2.0
scikit-image==0.12.3
scipy==1.5.2
seaborn==0.11.2
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow-estimator==2.6.0
tensorflow-gpu==2.6.2

